*~
\#*\#
.idea/
*.swp
nuoca.log
*.pyc
venv
*.diff
continuous-test.log
integration-test.log
unit-test.log
elasticsearch*.tar.gz
filebeat*.tar.gz
kibana*.tar.gz
extern/logstash*.tar.gz
zabbix-agent_*.deb*
zabbix-get_*.deb*
zabbix_src.tgz
vagrant/ubuntu14_nuoca/
nuoca.egg-info/
extern/logstash/**
python/**
extern/zabbix/**
extern/zabbix-3.0.13/**
build
dist
*egg-info
**/*.egg-info
